.App {
  text-align: center;
  background-color: #2C3333;
  color: #fff;
}

  
.header{
	height: 10vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.header button{
	font-size: 1rem;
	padding: 0.5rem 1rem;
	cursor: pointer;
}

.section{
	height: 30vh;
	display: grid;
	justify-content: center;
	align-items: center;
}

.section button{
	color: #fff;
	font-size: 1.3rem;
	padding: 0.5rem 2rem;
	cursor: pointer;
	background: #D82148;
}

.form-hero{
	background-color: #6EBF8B;
	min-height: 60vh;
	display: flex;
	justify-content: center;
	position: relative;
	padding-top: 5rem;
}

.extra-ingredients{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

#order-button{
	height: 2rem;
	color: #fff;
	background-color: #D82148;
	position: absolute;
	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
	  cursor: pointer;
}

.errors{
	position: absolute;
	top: 10%;
  	left: 50%;
	color: #D82148;
}